.header { line-height: 100px; }
.header .container { display: flex; justify-content: space-between; margin: 0 auto; width: 1200px; }

.header .gnb a { display: block; }
.header .gnb>ul { display: flex; gap: 40px; }
.header .gnb>ul>li { position: relative; }
.header .gnb>ul>li .smenu { position: absolute; top: 100%; left: 50%; display: none; transform: translateX(-50%); width: 150px; border: 3px solid #ddd;  background: #fff; line-height: 35px; text-align: center; z-index: 999; }

.header .gnb>ul>li:hover .smenu {
  display: block;
}

.main_visual { position: relative; display: flex; align-items: center; justify-content: center; height: 600px; background: #333; color: #fff;}
.footer { padding: 100px 0; text-align: center; }

.mbtn { display: none; }

@media ( max-width: 768px ) {
  .header { line-height: 100px; }
  .header .container { display: flex; justify-content: space-between; margin: 0 auto; width: auto; }

  .header .gnb { position: fixed;  top: 0; left: -100%; border-right: 1px solid #ddd; padding: 100px 15px 0 15px; width: calc(100% - 90px); height: 100vh; background: #fff; transition: 0.5s; z-index: 999;}
  .header .gnb.on { left: 0; }
  .header .gnb>ul { display: flex; flex-direction: column;  gap: 0; line-height: 35px; }
  .header .gnb>ul>li { position: relative; border-bottom: 1px solid #f1f1f1;}
  .header .gnb>ul>li .smenu { position: static; display: none; transform: translateX(0); width: auto; border: 0;  background: #f1f1f1; line-height: 35px; text-align: center; z-index: 999; }

  .header .gnb>ul>li:hover .smenu { display: none; }

  .main_visual { position: relative; display: flex; align-items: center; justify-content: center; height: 600px; background: #333; color: #fff;}
  .footer { padding: 100px 0; text-align: center; }

  .mbtn { position: fixed; top: 30px; right: 30px; display: block; border-radius: 5px; padding: 5px; background: #f1f1f1; font-size: 23px; line-height: 1; z-index: 999;}
}
